<body xmlns="http://www.w3.org/1999/html">
<br><br><br><br>

<div align="center">

<div class="container"  >

    <div class="span9">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="hero-unit"><h2>Manejo de Compromisos </h2></li>
          <li><h4><%= link_to 'Crear Compromiso', '/compromisos/new' %></li>
          <li><h4><%= link_to 'Editar Compromiso', '/compromisos/edit' %></li>
          <li><h4><%= link_to 'Ver Compromisos', '/compromisos/list' %></li>

        </ul>
      </div><!--/.well -->
    </div><!--/span-->

</div>

</div>
<br><br><br><br>
