<div class="container">

      <h1>Lista de entregables</h1>
      <br><br>
      <table id="table-2">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha de entrega</th>
          <th>Visualizar</th>
        </tr>
        </thead>
        <tbody>
        <% @entregables.each do |entregable1| -%>
            <tr>


              <td>
                <%= entregable1.NOMBRE %>
              </td>
              <td>
                <%= entregable1.FECHA_ENTREGA %>
              </td>
              <td>
                <a href="<%= entregable1.URI_DOCUMENTO %>"><img border=0 src="/assets/descargar.png">Ver entregables estudiante</a>
              </td>
            </tr>

        <% end -%>
        </tbody>
      </table>

</div>

