<body>
<br><br><br><br>

<div align="center">

<div class="container"  >

    <div class="span9">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="hero-unit"><h2>Manejo de Entregables </h2></li>
          <li><h4><%= link_to 'Subir Entregables', '/archivos/new' %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

</div>

</div>
<br><br><br><br>
</body>