<body xmlns="http://www.w3.org/1999/html">
<br><br><br><br>

<div align="center">

<div class="container"  >

    <div class="span9">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="hero-unit"><h2>Manejo de Compromisos </h2></li>
          <li><h4><%= link_to 'Manejo de Compromisos', '/fuente_bibliograficas' %></li>
          <li><h4><%= link_to 'Compromisos', '/tag/compromisos' %></li>
          <li><h4><%= link_to 'Temas', '/tag/temas' %></li>
          <li><h4><%= link_to 'Fuentes', '/tag/fuentes' %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

</div>

</div>
<br><br><br><br>
