<!DOCTYPE html>
<html>
<head>
  <title>TesisLab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Tesis Lab</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/fuente_bibliograficas/new">Crear Fuente</a></li>
          <li><a href="/fuente_bibliograficas/list">Ver Fuentes</a></li>
          <li><a href="/temas/new">Crear Tema</a></li>
          <li><a href="/compromisos/new">Crear Compromiso</a></li>
          <li><a href="/compromisos/list">Consultar Compromisos</a></li>
          <li><a href="/entregables/list">Ver entregables estudiante</a></li>
          <li><a href="/estudiantes">Ver entregables profesor</a></li>
          <li><a href="/reuniones/list">Ver Reuniones</a></li>
          <li><a href="/reuniones/new">Crear acta de reunion</a></li>
        </ul>
    </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<body>

<%= yield %>

</body>
<div class="container">
    <footer>
      <p>&copy; TesisLab 2013</p>
    </footer>
</div>
</html>
